
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Matheus Nascimento</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <header>
            <hgroup>
                <h1>MATHEUS NASCIMENTO</h1>
                <img id="super shock" src="img/Super Shock.jpg"/>
                <h2>Características</h2>
            </hgroup>
            <nav>
                <ul>
                    <li>17 anos</li>
                    <li>Está no terceiro ano do ensino médio</li>
                    <li>Pretende conseguir um emprego voltado para tecnologia</li>
                    <li>Estuda no colégio adventista</li>
                    <li>Fala 2 idiomas potuguês e espanhol</li>
                    <li>É uma pessoa carismática</li>
                    <li>Mora em SP na cidade ademar jabaquara</li>
                </ul>
                <p> Matheus é um menino muito dedicado em tudo o que faz</p>
                <p>possue um bom caráter e procura sempre ajudar quem precisar</p>
                <p>, pratica esportes aos finais de semana, desenha bem e</p>
                <p>se esforça em tudo o que faz.</p>
            </nav>

            <hgroup>
                <h2>Seu Futuro</h2>                       
            </hgroup>
            <p> Matheus possue vários sonhos que pretende realizar como criar</p> 
            <p>uma família, arranjar um bom emprego voltado a área da tecnologia, fazer 
            <p>diferença nesse mundo, mostrando seu valor de alguma forma, dentre outras coisas</p>
            <p>porém o que ele mais quer é se sentir feliz por tudo o que fez e por todos</p> 
            <p>os objetivos alcançados valendo a pena cada gota de suor derramada</p>

            <hgroup>
                <h2>Curso</h2>
                <p>faz curso técnico no Senai de Santa Cecília com os professores Cesar e alexandre</p> 
                <p>do sendo este seu primeiro curso técnico em toda a sua vida</p>                       
            </hgroup>
            <section id="local">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8869961505543!2d-46.648477085071065!3d-23.53656648469522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deade6e3%3A0x124f377d06c7e71f!2sAlameda+Bar%C3%A3o+de+Limeira%2C+539+-+Campos+El%C3%ADseos%2C+S%C3%A3o+Paulo+-+SP%2C+01202-001!5e0!3m2!1sen!2sbr!4v1550223658410" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </section>

            
            <hgroup>
                <h2>Um Bom Funcionário</h2>
                <p>segundo Matheus existem criterios ou características importantes que podem</p>
                <p>ajudar no desenvolvimento de uma carreira profissional ou mesmo para arranjar</p>
                <p>um emprego,<strong>são eles:</strong></p>                        
            </hgroup>
            <ul>
                <li>Procurar um emprego na área que você goste</li>
            </ul>
                <img id= "bom emprego" src="img/bom emprego.jpg">
        
                
                <li>ser honesto</li>

                <li>ser colaborador em um grupo</li>

                <li>Ser organizado</li>

                <li>Dar sempre o seu melhor em tudo</li>

                <li>Manter sempre seu cliente satisfeito</li>

                <li>Ser humilde</li>

                <li>...</li>
            </ul>

        </header>
    </body>
</html>
